{% extends 'notas/layout.html' %}

{% load static %}

{% block title %}Adicionar aluno{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/adicionar.css' %}">

<a href="{% url 'lista' %}"><img id="voltar-logo" src="https://image.flaticon.com/icons/png/512/93/93634.png" width="50px" height="50px"></a>
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="aluno">
            <h1>Nome do aluno: <input type="text" name="nome_aluno" id="" required></h3>
        </div>
        <div class="primeirobi">
            <h1>Notas e faltas do PRIMEIRO BIMESTRE</h1>
            <div class="notas">
                <h3>Nota de Língua Portuguesa:  <input type="number" name="bi1_nota_port" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Matemática:  <input type="number" name="bi1_nota_mat" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de História:  <input type="number" name="bi1_nota_hist" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Geografia:  <input type="number" name="bi1_nota_geo" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Ciências:  <input type="number" name="bi1_nota_cien" id="" min="0" step="0.01" max="10" required></h3>
            </div>
            <div class="faltas">
                <h3>Faltas no Bimestre:  <input type="number" name="bi1_faltas" id="" min=0 max="20" required></h3>
            </div>
        </div>
        <div class="segundobi">
            <h1>Notas e faltas do SEGUNDO BIMESTRE</h1>
            <div class="notas">
                <h3>Nota de Língua Portuguesa:  <input type="number" name="bi2_nota_port" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Matemática:  <input type="number" name="bi2_nota_mat" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de História:  <input type="number" name="bi2_nota_hist" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Geografia:  <input type="number" name="bi2_nota_geo" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Ciências:  <input type="number" name="bi2_nota_cien" id="" min="0" step="0.01" max="10" required></h3>
            </div>
            <div class="faltas">
                <h3>Faltas no Bimestre:  <input type="number" name="bi2_faltas" id=""min=0 max="20" required></h3>
            </div>
        </div>
        <div class="terceirobi">
            <h1>Notas e faltas do TERCEIRO BIMESTRE</h1>
            <div class="notas">
                <h3>Nota de Língua Portuguesa:  <input type="number" name="bi3_nota_port" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Matemática:  <input type="number" name="bi3_nota_mat" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de História:  <input type="number" name="bi3_nota_hist" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Geografia:  <input type="number" name="bi3_nota_geo" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Ciências:  <input type="number" name="bi3_nota_cien" id="" min="0" step="0.01" max="10" required></h3>
            </div>
            <div class="faltas">
                <h3>Faltas no Bimestre:  <input type="number" name="bi3_faltas" id=""min=0 max="20" required></h3>
            </div>
        </div>
        <div class="quartobi">
            <h1>Notas e faltas do QUARTO BIMESTRE</h1>
            <div class="notas">   
                <h3>Nota de Língua Portuguesa:  <input type="number" name="bi4_nota_port" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Matemática:  <input type="number" name="bi4_nota_mat" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de História:  <input type="number" name="bi4_nota_hist" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Geografia:  <input type="number" name="bi4_nota_geo" id="" min="0" step="0.01" max="10" required></h3>
                <h3>Nota de Ciências:  <input type="number" name="bi4_nota_cien" id="" min="0" step="0.01" max="10" required></h3>
            </div> 
            <div class="faltas">
                <h3>Faltas no Bimestre:  <input type="number" name="bi4_faltas" id=""min="0" max="20" required></h3>
            </div>
        </div>
        <input type="submit" value="Enviar" id="enviar">
    </form>
</div>
{% endblock %}