{% extends "notas/layout.html" %}

{% load static %}

{% block title %}Sistema Avaliativo{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<style>
    .container{
     background-image: url("{% static 'images/index.png' %}");
    }
</style>
<div class="container">
<header>
    <nav id="nav-bar">
        <h1 id="titulo"><a href="{% url 'index' %}">Sistema Avaliativo</a></h1>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a class="links" id="princ" href="{% url 'index' %}">Início</a></li>
            {% if request.user.is_authenticated %}
                <li><a class="links" href="{% url 'lista' %}">Notas</a></li>
                <li><a class="links" href="{% url 'logout' %}">Sair</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="links">Entrar</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div id="caixa-texto">
    <h2 class="texto-intro1">Adicione e verifique</h2> 
    <h2 class="texto-intro2">as notas de seus alunos!</h2>
</div>

</div>

<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}