{% extends "notas/layout.html" %}

{% load static %}

{% block title %}Alunos{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/lista.css' %}">

<div class="container">
    <header>
        <nav id="nav-bar">
            <h1 id="titulo"><a href="{% url 'index' %}">Sistema Avaliativo</a></h1>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a class="links" href="{% url 'index' %}">Início</a></li>
                <li><a class="links" id="princ" href="{% url 'lista' %}">Notas</a></li>
                <li><a class="links" href="{% url 'logout' %}">Sair</a></li>
            </ul>
        </nav>
    </header>

    
<main>
    <h1 id="alunos">Alunos</h1>
    <table>
        {% for aluno in alunos %}
        <tr>
            <td>
                <p>{{ aluno }}</p>
                <a href="{% url 'aluno_nota' aluno.id %}" class="ver-mais">Ver mais informações</a>
            </td>
        </tr>
        {% empty %}
        <h2 class="sem-alunos">Nenhum aluno cadastrado!</h2>
        {% endfor %}
    </table>
    <div><a href="{% url 'adicionar' %}" id="add">Adicionar aluno</a></div>
</main>

</div>

<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}