{% extends "registration/base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
  @media(min-width: 872px){
    .container{
      background-image: url("{% static 'images/login.jpg' %}");
    }
  }
</style>
<div class="container">

  {% if form.errors %}
    <script>
      alert("Seu nome de usuário ou senha está incorreto. Por favor, tente novamente.")
    </script>
  {% endif %}
    
  {% if next %}
    {% if user.is_authenticated %}
      <script> 
        alert('Sua conta não tem acesso a essa página. Para prosseguir, entre em uma conta que contenha o acesso.')
      </script>
    {% else %}
      <script> 
        alert('Por favor, faça o login para visualizar essa página!.')
      </script>
    {% endif %}
  {% endif %}

  <div class="cont">
  
    <h1>Bem-vindo!</h1>
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td class="input_user_senha">{{ form.username.label_tag }}</td>
        <td class="input_user_senha">{{ form.username }}</td>
      </tr>
      <tr>
        <td class="input_user_senha">{{ form.password.label_tag }}</td>
        <td class="input_user_senha">{{ form.password }}</td>
      </tr>
    </table>
    <input id="enviar" type="submit" value="Entrar" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="#">Esqueceu a senha?</a></p>

</div>

</div>

{% endblock %}