@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
    
    @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Rubik', sans-serif;
    }
    .container{
        width: 60vw;
        display: grid;
        justify-content: center;
        margin: -30px auto;
        border: 1px solid black;
    }
    .notas{
        border: 1px solid black;
        width: 40vw;
        margin: 10px auto;
        padding: 10px;
    }
    .faltas{
        border: 1px solid black;
        width: 40vw;
        margin: 10px auto;
        padding: 10px;
    }
    h1{
        text-align: center;
    }
    .aluno{
        border: 1px solid black;
        width: 40vw;
        margin: 10px auto;
        padding: 5px;
    }
    #enviar{
        padding: 15px 80px;
        margin: 10px 15vw;
        font-size: 16px;
        background-color: rgba(128, 255, 0, 0.603);
        border-radius: 3px;
    }
    #enviar:hover{
        opacity: 0.7;
        cursor: pointer;
    }
    input{
        padding: 2px;
        border-radius: 3px;
        border: 1px solid black;
        margin-left: 5px;
    }
    #voltar-logo{
        display: flex;
        top: 8vh;
        left: 8vw;
        position: relative;
    }