@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    overflow-x:hidden;
}

.links{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#nav-bar{
    background-color: #23232e;
    padding: 5px;
    width: 100vw;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
}
#titulo{
    top: 0.5vh;
    position: relative;
}
#titulo > a{
    text-decoration: none;
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 2rem;
}
.caixa-texto{
    display: flex;
    position: relative;
    color: white;
    font-size: 1.3rem;
}
.texto-intro1{
    position: relative;
    width: auto;
    height: auto;
    top: 30vh;
    left: 10vw;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 10px;
}
.texto-intro2{
    position: absolute;
    width: auto;
    height: auto;
    top: 40vh;
    left: 10vw;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 10px;
}
@media(max-width:800px) {
.nav-list{
    position: absolute;
    top: 13vh;
    right: 0;
    width: 35vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
}
.nav-list li {
    margin-left: 0;
}
.mobile-menu {
    display: block;
}
#titulo > a{
    text-decoration: none;
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 1.5rem;
}
.caixa-texto{
    font-size: .8rem;
    text-align: center;
}
.texto-intro1{
    left: 3vw;
}
.texto-intro2{
    top: 40vh;
    right: auto;
    left: 3vw;
}
}
@media(min-width:800px){
#titulo > a{
    text-decoration: none;
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 1.5rem;
}
}
.links:hover{
    border-bottom: 2px solid white;
    padding-bottom: 1px;
    opacity: 0.7;
}
#princ {
    border-bottom: 2px solid white;
    padding-bottom: 1px;
}
.container {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}